<!-- Button trigger modal -->
<form class="form" style="margin: 15px">
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newTransactionModal">
            Add new transaction
        </button>
    </div>
    <div class="form-group"><strong>Filtering</strong></div>
    <div class="form-group" data-bind="foreach: categories">
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       data-bind="checkedValue: id, checked: $parent.checkedCategories, click: $parent.filterByCategories.bind($component)"><span data-bind="text: name" />
            </label>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="newTransactionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New transaction</h4>
            </div>
            <form class="form" style="margin: 10px;" data-bind="submit: addNewTransaction">
                <div class="modal-body">

                    <div class="form-group" data-bind="validationElement: date">
                        <input type="text" class="form-control" id="datepicker" data-bind="textInput: date, valueUpdate: 'blur'" placeholder="Date" />
                    </div>
                    <div class="form-group" data-bind="validationElement: amount">
                        <input type="text" class="form-control" id="amount" data-bind="textInput: amount, valueUpdate: 'blur'" placeholder="Amount" />
                    </div>
                    <div class="form-group" data-bind="validationElement: reason">
                        <input type="text" class="form-control" id="reason" data-bind="textInput: reason, valueUpdate: 'blur'" placeholder="Reason" />
                    </div>
                    <div class="form-group" data-bind="validationElement: category">
                        <select class="form-control" data-bind="options: categories,
                                                optionsText: 'name',
                                                optionsCaption: 'Select one...',
                                                value: category,
    validationElement: category"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bind="enable: isModelValid">Add</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="loadingLabel" data-bind="visible: loading">Loading data...</div>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Reason</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: gridData">
        <tr>
            <td data-bind="text: date"></td>
            <td data-bind="text: amount"></td>
            <td data-bind="text: reason"></td>
            <td data-bind="text: category"></td>
        </tr>
    </tbody>
</table>